body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;
}
footer div {
    flex: 1;
    text-align: center;
    padding: 0 10px;
}

footer div:nth-child(3) {
    text-align: end;
}

#loginForm {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    align-items: center; 
}

#loginForm label {
    text-align: right; 
    width: 100px;
}

#loginForm input {
    width: 300px; 
    padding: 5px;
}

#loginForm button {
    grid-column: span 2;
    width: 325pt;
}

button {
    background-color: #078b8b; /* Green */
    border: none;
    color: white;
    border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}